<script src="{{ 'component.details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'component.index.header-dropdown.js' | asset_url }}" defer="defer"></script>

<div class='relative bg-white header-wrapper'>
  <div class='mx-auto px-4 sm:px-6'>
    <div class='flex justify-center items-center py-4 md:justify-start md:space-x-10'>
      <!-- STORE NAME / STORE LOGO -->
      <div class='flex justify-start lg:flex-1 truncate'>
        <h1 class='text-xl font-bold truncate'>i7eo Dev Store</h1>
      </div>

      <!-- NAVIGATION MENU -->
      <nav class='hidden md:flex space-x-10'>
        {% comment %}
          {% for collection in collections %}
            {{- collection.title | link_to: collection.url }}
          {% endfor %}
        {% endcomment %}
        {% for link in linklists['main-menu'].links %}
          <div class='relative'>
            {% if link.links != empty %}
              <header-dropdown toggle="close">
                <details>
                  <summary class='inline-flex items-center text-base text-gray-500 hover:text-gray-900' aria-expanded="false">
                    <span
                      {%- if link.child_active %}
                        class="text-red-900"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </span>
                    {% render 'icon.index.dropdown' %}
                  </summary>
                  <div class='absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2'>
                    <div class='shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg'>
                      <ul
                        class='relative grid gap-3 bg-white px-2 py-3 sm:gap-4 sm:p-4'
                        role='list'
                        tabindex='-1'
                      >
                        {% for childlink in link.links %}
                          <li>
                            <a class='-m-2 p-3 flex items start rounded-lg hover:bg-gray-100' href='{{ childlink.url }}'>
                              <span class='ml-3 text-gray-900 text-base font-bold'>{{ childlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </details>
              </header-dropdown>
            {% else %}
              <a
                href='{{ link.url }}'
                class='text-base text-gray-500 hover:text-gray-900 {% if link.active == true %}text-red-900{% endif %}'
              >
                {{ link.title | escape }}
              </a>
            {% endif %}
          </div>
        {%- endfor %}
      </nav>

      <div class='hidden md:flex items-center justify-end md:flex-1 space-x-5'>
        <a href='{{ routes.cart_url }}' class='whitespace-nowrap text-base text-gray-500 hover:text-gray-900'>
          {% render 'icon.index.shopping-cart' %}
        </a>
        <a href='{{ routes.account_login_url }}' class='text-base text-gray-500 hover:text-gray-900'>Login</a>
        <a href='{{ routes.account_register_url }}' class='text-base text-gray-500 hover:text-gray-900'>Register</a>
      </div>
    </div>
  </div>
</div>
